.single-video-ctn {
  width: 100%;
  color: var(--text-color);
}

.cta-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.cta-icons .icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.icon-text:hover {
  background-color: var(--light-gray);
  border-radius: 5px;
  color: var(--clr-txt-dark);
}
