/* chips */
.chips-ctn {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.chips-ctn .chip {
  padding: 8px 12px;
  border-radius: 1.25rem;
  background-color: var(--light-gray);
  cursor: pointer;
}

.chips-ctn .chip-active {
  color: var(--chip-active-color);
  background-color: var(--primary-color);
}

/* playlist modal */
.playlist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  z-index: 1;
}

.save-playlist-ctn {
  width: 80%;
  max-width: 250px;
  background-color: var(--menu-background);
  box-shadow: var(--light-shadow);
}

.save-playlist-ctn label {
  cursor: pointer;
}

.box-title {
  justify-content: space-between;
}
