@import "https://litespeedui.netlify.app/components/components.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}